---
import Layout from '../layouts/Layout.astro';
import videos from "../data/videos.json"
---

<Layout title="My Meme Videos">
	<main>
		{videos.map((video) => (
			<a href={`/videos/${video.key}?name=${video.name}`} class="video-card">
				<article>
					<h3>{video.name}</h3>
	
				</article>
			</a>
		))}
	</main>
</Layout>

<style>
	main {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
		gap: 2rem;
		width: clamp(300px, 90%, 1200px);
		margin: 0 auto;
		padding-top: 3rem;
	}

	.video-card {
		display: block;
	}
	article {
		padding: 0.5rem 0.75rem;
		border-radius: 0.75rem;
		border: 2px solid rgba(197, 197, 197, 0.468);
		background-color: white;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		transition: background-color 0.2s;
		
		&:hover {
			background-color: hsl(0, 0%, 90%);
		}
		h3 {
			font-weight: bold;
		}
	}
</style>
